* {
    margin: 0;
    padding: 0;
}

.fundo {
    background-image: radial-gradient(circle at 43.84% -20.44%, #d85cff 0, #ab50f2 25%, #7c42d4 50%, #4d34b5 75%, #152799 100%);    
    height: 100vh;  
    color: rgb(230, 230, 230);
    text-align: center;
}
.meu_nome {
    padding-top: 60px ;
}

.calculadora {
    position: absolute;
    background-color: rgba(102, 39, 153, 0.993);
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 15px;
    padding: 15px;
    border: 3px solid rgb(255, 255, 255);
}

.botao {
    height: 50px;
    width: 50px;
    font-size: 25px;
    cursor: pointer;
    margin: 1px;
    background-color: rgba(95, 3, 131, 0.884);
    border: none;
    color: rgb(255, 255, 255);
    border-radius: 2px;
}
.botao:hover {
    background-color: rgb(212, 208, 208);
}

#resultado {
    width: 207px;
    height: 30px;
    background-color: #fff;
    margin: 5px;
    font-size: 25px;
    color: black;
    text-align: right;
    padding: 5px;
}

.simbolo {
    color: rgb(180, 6, 87)
}

.botao igual:hover {
    background-color: rgb(212, 208, 208);
}